*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.btnTop {
  opacity: 90%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #236ab0;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
