.footer {
  border-top: 1rem white;
  width: 100%;
  padding: 2rem 0;
  color: #fff;
  margin-top: 50px;

  p{
    font-size: 12px;
  }
}

a {
  span {
    color: white !important;
  }
}
.fm-container {
  max-width: 80%;
}
